/* common rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green: #008000;
    --black: #1A1A1A;
    --red: #FF0000;
    --white: #FFFFFF;
    --orange: #FF6900;
}

.container {
    width: 60%;
    margin: auto;
}

img {
    max-width: 100%;
}

.row {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.row_header {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    padding: 0.5rem;
}

/* #region colonne */
.col_1 {
    width: calc((100% / 12) * 1);
}

.col_2 {
    width: calc((100% / 12) * 2);
}

.col_3 {
    width: calc((100% / 12) * 3);
}

.col_4 {
    width: calc((100% / 12) * 4);
}

.col_5 {
    width: calc((100% / 12) * 5);
}

.col_6 {
    width: calc((100% / 12) * 6);
}
/* #endregion colonne */

body {
    font-family: 'Open Sans', sans-serif;
}

/* #region header */
header {
    background-color: var(--orange);
    font-size: small;
}

a {
    text-decoration: none;
    color: var(--white);

}

.fa-solid {
    color: var(--white);
}

.fa-regular {
    color: var(--white);
}

.fa-heart {
    margin-left: 5px;
    margin-right: 5px;
}
/* #endregion header */

/* #region main */
main {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.change {
    position: relative;
}

.man1 {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}

.change:hover .man1 {
    visibility: visible;
}

.bdg_red {
    font-size: 6px;
    font-weight: bold;
    text-align: center;
    color: var(--white);
    background-color: var(--red);
    width: 20px;
    height: 10px;
    position: relative;
    bottom: 30px;
}

.bdg_green {
    font-size: 6px;
    font-weight: bold;
    text-align: center;
    color: var(--white);
    background-color: var(--green);
    width: 50px;
    height: 10px;
    position: relative;
    bottom: 40px;
    left: 22px
}

p {
    font-size: 8px;
}

.price {
    font-size: 8px;
}

.price_red {
    color: var(--red);
}
/* #endregion main */

footer {
    background-color: var(--black);
    font-size: small;
    color: var(--white);
    p
}

.row_footer {
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
}

.footer_info {
    font-size: 8px;
    padding-top: 5px;
}

#privacy {
    padding-left: 5px;
    padding-right: 5px;
}

.icons {
    padding-top: 5px;
}